@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueBlackCondensed.eot');
    src: url('HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('HelveticaNeueBlackCondensed.woff') format('woff'),
        url('HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

